body {
    background-color: #CCC;
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 40px;
    background-color: #fff;
}
 nav ul {
        list-style: none;
        display: flex;
    }

nav ul li a {
            text-decoration: none;
            height: 40px;
            padding: 0 26px;
            line-height: 40px;
            color: #000;
        }

a:hover {
    display: block;
    background: #000;
    color: #fff;
}

.logo {
    color: #000;
    padding: 0 5px;
    font-size: 22px;
    margin-left: 200px;
    text-decoration: none;
}


.container-1 {
    display: flex;
    background-color: #4800ff;
    margin-top:10px;
    margin-bottom:150px;
    
}
    .container-1 div {
        border: 1px solid #ccc;
        padding: 10px;
    }

.box-1 {
    flex: 1;
    order: 1;
}

.box-2 {
    flex: 2;
    order: 2;
}

    .box-2:hover {
        background-color: #ffd800;
    }

#img:hover {
    transform: translate(50px,80px);
    transition: 2s;
}
.middle {
    margin: 100px;
    border: 2px solid #000;
}

.container-2 {
   padding:4px 50px 10px 50px;
   margin-top:10px;
   margin-bottom:150px;
}
.table{
    width:100%;
    border-collapse:collapse;
}
    .table thead tr th {
        background-color: #b200ff;
        border: 1px solid #ffffff;
        color: #ffffff;
        padding:20px;
        
    }
    .table tbody tr td {
        background-color: #ffffff;
        color: #000;
        border: 1px solid #000;
       
        padding: 20px;
    }  

.container-3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:150px;
}

    .container-3 div {
        background-color: #F00;
        border: 1px solid #ccc;
        padding: 10px;
        height: 200px;
    }

.box-31 {
    flex: 1.5
}

.box-32 {
    flex: 1.5
}

.box-33 {
    flex: 1.5
}

.box-31:hover, .box-32:hover, .box-33:hover {
        display: block;
        background: #FFF;
        color: #F00;
    }



.container-4 {
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom:150px;
}

    .container-4 div {
        padding: 50px;
    }

.project1 {
    color: #000;
    text-align: center;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 500px;
    background-size: 100% 100%;
    line-height: 50px;
    box-shadow: 4px -6px 20px 10px #000000;
    background-color: #0F3;
}

.project2 {
    color: #000;
    text-align: center;
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    background-color: #0F3;
    margin-top: 50px;
    padding: 50px;
    border-radius: 500px;
    background-size: 100% 100%;
    line-height: 50px;
    box-shadow: 4px -6px 20px 10px #000000;
}


.container-5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:150px;
}

    .container-5 div {
        background-color: #ffd800;
        border: 1px solid #ccc;
        padding: 10px;
        height: 400px;
    }
.box-51 {
    flex: 1
}

.box-52 {
    flex: 1
}



.box-51:hover,.box-52:hover{
        display: block;
        background: #FFF;
        color: #F00;
    }

.container-6{
    height:700px;
    width:100%;
    background:#ff006e;
    margin-top:100px;
    margin-bottom:150px;
    
}
    .container-6 img{
        margin:80px;
        
    }
    .footer {
        background-color: #000;
        color: #fff;
        height: 200px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 150px;
    }

    .footer:hover {
        background-color: #fff;
        color: #000;
    }

@media(max-width:1118px) {
    nav{
       display:none;
    }
    nav {
        display: block;
        height: 300px;
    }
    nav ul,nav ul li{
       
        flex-direction:column;
        
       

    }

}
    

    @media(max-width:1216px) {
        .container-1 {
            flex-direction: column;
        }
    }

    @media(max-width:660px) {
        .container-5, .container-3{
            flex-direction: column;
        }
    }

    @media(max-width:660px) {
        .container-4 {
            flex-direction: column;
        }

        .project1 {
            width: 400px;
            height: 400px;
            border-radius: 400px;
            font-size: 18px;
        }

        .project2 {
            width: 400px;
            height: 400px;
            border-radius: 400px;
            font-size: 18px;
        }
    }

    @media(max-width:778px) {
        .table thead {
            display: none;
        }

        .table, .table tbody, .table tr, .table td {
            display: block;
        }

            .table tr {
                margin-bottom: 15px;
            }

            .table td {
                text-align: right;
            }

                .table td:before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    padding: 0 0 0 55px;
                    color: #ff0000;
                }
    }

@media(max-width:1214px) and (min-width:899px) {
    .imgg {
        height: 500px;
        width: 800px;
        
    }
}
@media(max-width:898px) and (min-width:597px) {
     .imgg{
        height: 500px;
        width: 500px;
    }
}
@media(max-width:596px) {
    .imgg {
        height: 300px;
        width: 300px;
    }
}
